@media (max-width: 1499px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 1299px) {
}

@media (max-width: 1199px) {
    .hide-lg {
        display: none !important;
    }
    .show-lg {
        display: block !important;
    }
}

@media (max-width: 991px) {
    .hide-md {
        display: none !important;
    }
    .show-md {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .hide-sm {
        display: none !important;
    }
    .show-sm {
        display: block !important;
    }
    .inner_page ul {
        padding: 0;
    }
    .contact-information ul li span {
        min-width: inherit;
    }
}

@media (max-width: 575px) {
    .hide-xs {
        display: none !important;
    }
    .show-xs {
        display: block !important;
    }
    .inner_page ul {
        padding: 0;
    }
    .contact-information ul li span {
        min-width: inherit;
    }
}

@media (max-width: 479px) {
    .inner_page ul {
        padding: 0;
    }
    .contact-information ul li span {
        min-width: inherit;
    }
}

@media (max-width: 359px) {
    .inner_page ul {
        padding: 0;
    }
    .contact-information ul li span {
        min-width: inherit;
    }
}
